/* 
********** intro ********** 
*/
#intro {
  position: fixed;
  inset: 0;
  background-color: $color-dark;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .text_box {
    position: relative;
    display: flex;
    gap: 10px;
    @include fontStyle("BBH Hegarty", 40px);
    padding-right: 20px;

    &_area {
      display: flex;
      gap: 10px;
      overflow: hidden;
      span {
        color: $color-light;
      }
    }

    .dot {
      position: absolute;
      right: 0;
      bottom: 17px;
      width: 10px;
      height: 10px;
      background-color: #e4e4e4;
      border-radius: 50%;
    }
  }
}

/*
********** hero **********
*/
#hero {
  position: relative;
  height: 100vh;
  align-items: center;
  text-align: center;

  .container {
    margin-top: 0;
  }

  .center_box {
    .fade-list {
      display: flex;
      justify-content: center;
      overflow: hidden;

      .fade-item {
        @include fontStyle("BBH Hegarty", clamp(28px, 12vw, 190px));
        color: $color-dark;
        line-height: 1;
      }
    }
  }

  .bottom_text {
    position: absolute;
    bottom: 35px;
    p {
      @include fontStyle("Noto sans KR", 14px);
      color: $color-point;
      font-weight: 300;
    }
  }
}

/*
********** career **********
*/
#career {
  overflow: visible;
  .career_list {
    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      li {
        position: relative;
        width: 100%;
        text-align: center;
        z-index: 11;

        &.is-active {
          .career_tit {
            opacity: 1;
            color: $color-dark;
            transition: all 0.3s;
          }

          .career_content {
            opacity: 1;
            transition: all 0.3s;
          }
        }

        .career_tit {
          display: inline-block;
          position: relative;
          @include fontStyle("BBH Hegarty", clamp(28px, 5vw, 96px));
          line-height: 1.1;
          letter-spacing: -0.5px;
          color: $color-point;
          opacity: 0.5;
          transition: all 0.3s;

          span {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(30px, -50%);
            @include fontStyle("Red Hat Display", 14px);
            color: $color-point;
          }
        }

        .career_content {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 23vw;
          max-width: 322px;
          height: 28vw;
          max-height: 392px;
          border-radius: 20px;
          overflow: hidden;
          opacity: 0;
          transition: all 0.3s;

          img,
          video {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

/*
********** works **********
*/
#works {
  .works_list {
    ul {
      display: grid;
      grid-gap: 1rem;
      flex-flow: column;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: 1fr;
      li {
        position: relative;
        height: 50vw;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .dim {
          position: absolute;
          inset: 0;
          z-index: 10;
        }

        &:hover {
          .dim {
            // &_content {
            //   width: 70%;
            //   height: 50%;
            //   background: #fff;
            // }
          }
        }
      }
    }
  }
}

/*
********** skills **********
*/
#skills {
  .skills_swiper {
    .swiper-wrapper {
      transition-timing-function: linear !important; // ← 이거 꼭 있어야 해요
    }
  }
}
