/*
********** body.black **********
*/

/*
********** 공통 **********
*/
.content {
  text-align: center;
  color: $color-light;
}

section {
  .section_tit {
    @include fontStyle("Red Hat Display", 50px, 800);
    // @include fontStyle("Noto sans KR", 50px, 800);
    // @include fontStyle("BBH Hegarty", 50px);
    color: $color-point;
    // color: $color-light;
  }

  .section_box {
    margin-top: 50px;

    &_img {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6vw;
      width: 45vw;
      max-width: 800px;
      margin: auto;
    }

    &_desc {
      margin-top: 50px;
      @include fontStyle("Noto sans KR", 14px);
    }
    & + .section_box {
      margin-top: 100px;
    }
  }

  .section_desc {
    margin-top: 20px;
    @include fontStyle("Noto sans KR", 14px);

    b {
      display: block;
      padding-bottom: 20px;
      @include fontStyle("Noto sans KR", 18px, 700);
    }
  }

  .section_img {
    margin-top: 20px;
  }
}

.work_title {
  .container {
    padding-top: 60px;
  }

  .work_tags {
    display: flex;
    justify-content: center;
    gap: 20px;

    .work_tag {
      padding: 4px 16px;
      border-radius: 20px;
      background-color: rgb(124 137 135 / 25%);

      span {
        @include fontStyle("Noto sans KR", 12px);
        text-transform: capitalize;
      }
    }
  }

  .work_name {
    .fade-list {
      display: flex;
      justify-content: center;
      overflow: hidden;
      margin-top: 20px;

      .fade-item {
        @include fontStyle("BBH Hegarty", clamp(28px, 13vw, 190px));
        line-height: 1;
      }
    }
  }
  .work_date {
    margin-top: 100px;
    p {
      @include fontStyle("Noto sans KR", 14px);
    }
  }
}

.work_preview {
  .container {
    margin-top: 60px;
  }
}

.work_screenshot {
  .container {
    padding: 0;
  }
}

.footer {
  &_top {
    border-top: none !important;
  }
}

/*
********** hence **********
*/
.hence {
  .section_box_img {
    &.hencefeed {
      width: 45vw;
    }
    &.henceshop {
      width: 60vw;
    }
  }
}
/*
********** vortex **********
*/
.vortex {
  .work_title {
    .work_name {
      .fade-list {
        padding-bottom: 15px;
        .fade-item {
          @include fontStyle("BBH Hegarty", clamp(28px, 9vw, 130px));
        }
      }
    }
  }

  .section_box_img {
    &.vortexpreview {
      width: 50vw;
    }
    &.vortexrole1 {
      width: 50vw;
    }
    &.vortexrole2 {
      width: 55vw;
    }
  }
}

/*
********** dreamplus **********
*/
.dreamplus {
  .work_title {
    .work_name {
      .fade-list {
        padding-bottom: 15px;
        .fade-item {
          @include fontStyle("BBH Hegarty", clamp(28px, 12vw, 130px));
        }
      }
    }
  }

  .dreamplusrole1 {
    position: relative;
    max-width: 800px;
    width: 60vw;
    height: 53vw;
    margin: auto;
    .section_box {
      height: 34vw;
    }

    .stagger-item {
      position: absolute;
    }
    .fade1 {
      width: 100%;
    }
    .fade2 {
      width: 20%;
      left: 15.4%;
      top: 48%;
    }
    .fade3 {
      width: 40%;
      right: 6%;
      top: 26.5%;
    }
  }

  .section_box_img {
    &.dreampluspreview {
      width: 60vw;
    }
    &.dreamplusrole2 {
      width: 66vw;
    }
  }
}

/*
********** lglife **********
*/
.lglife {
  .section_box_img {
    width: 50vw;
  }
}

/*
********** samsung **********
*/
.samsung {
  .work_title {
    .work_name {
      .fade-list {
        // padding-bottom: 15px;
        .fade-item {
          @include fontStyle("BBH Hegarty", clamp(28px, 9vw, 115px));
        }
      }
    }
  }

  .section_box_img {
    &.samsungpreview {
      width: 65vw;
    }
    &.samsungrole1 {
      width: 54vw;
    }
    &.samsungrole2 {
      width: 55vw;
    }
  }
}
