.bbh-hegarty {
  font-family: "BBH Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.red-hat-display {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin fontStyle($family, $size: null, $weight: 400) {
  font-family: $family, sans-serif;
  font-size: $size;
  font-weight: $weight;
  font-style: normal;
}
