@use "variables" as *;
@use "font" as *;

#intro {
  position: fixed;
  inset: 0;
  background-color: $color-dark;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .text_box {
    position: relative;
    display: flex;
    gap: 10px;
    @include fontStyle("BBH Hegarty", 40px);
    padding-right: 20px;

    &_area {
      display: flex;
      gap: 10px;
      overflow: hidden;
      span {
        color: $color-light;
      }
    }

    .dot {
      position: absolute;
      right: 0;
      bottom: 17px;
      width: 10px;
      height: 10px;
      background-color: #e4e4e4;
      border-radius: 50%;
    }
  }
}
