@use "reset";
@use "variables" as *;
@use "font" as *;

@use "intro";

a.skip-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  padding: 12px 20px;
  background-color: $color-point;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 0 0 8px 0;
  white-space: nowrap;
  text-align: center;

  // 평소엔 화면 밖으로 숨김
  transform: translateY(-100%);
  opacity: 0;

  // Tab 포커스 시 등장
  &:focus {
    transform: translateY(0);
    transition: transform 0.2s ease;
    opacity: 1;
  }
}
section {
  display: flex;
  justify-content: center;
  width: 100vw;
  overflow: hidden;

  .section-title {
    @include fontStyle("Red Hat Display", 16px, 300);
    color: $color-point;
    margin-bottom: 100px;
  }
}

.container {
  width: 100%;
  margin-top: 150px;
  padding: 0 30px;
}

// header
.header {
  position: fixed;
  inset: 20px 30px;
  display: flex;
  align-items: center;
  height: 50px;
  @include fontStyle("Red Hat Display", 14px);
  text-transform: uppercase;
  z-index: 10;

  .logo {
    font-size: 30px;
    color: $color-dark;
  }

  .nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    // padding: 15px 30px;
    // border-radius: 61px;
    // background: #7c89877d;

    .nav_list {
      display: flex;
      gap: 40px;

      .nav_item {
        a {
          color: $color-dark;
        }
      }
    }
  }

  .util {
    position: absolute;
    right: 0;

    .card {
      display: block;
      width: 60px;
      height: 45px;
      perspective: 1000px;
      cursor: pointer;

      &_inner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
      }

      &_front,
      &_back {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        backface-visibility: hidden;
        border-radius: 12px;
      }

      &_front {
        background-color: $color-dark;
        img {
          height: 40px;
        }
      }

      &_back {
        background-color: $color-point;
        transform: rotateY(180deg);
        span {
          text-align: center;
          line-height: 1;
          color: $color-light;
          font-size: 14px;
          font-weight: 400;
          text-transform: capitalize;
        }
      }
    }
  }
}

// hero
#hero {
  position: relative;
  height: 100vh;
  align-items: center;
  text-align: center;

  .container {
    margin-top: 0;
  }

  .center_box {
    .fade-list {
      display: flex;
      justify-content: center;
      overflow: hidden;

      .fade-item {
        @include fontStyle("BBH Hegarty", clamp(28px, 12vw, 190px));
        color: $color-dark;
        line-height: 1;
      }
    }
  }

  .bottom_text {
    position: absolute;
    bottom: 35px;
    p {
      @include fontStyle("Noto sans KR", 14px);
      color: $color-point;
      font-weight: 300;
    }
  }
}

// career
#career {
  overflow: visible;
  .career_list {
    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      li {
        position: relative;
        width: 100%;
        text-align: center;
        z-index: 11;

        &.is-active {
          .career_tit {
            opacity: 1;
            color: $color-dark;
            transition: all 0.3s;
          }

          .career_content {
            opacity: 1;
            transition: all 0.3s;
          }
        }

        .career_tit {
          display: inline-block;
          position: relative;
          @include fontStyle("BBH Hegarty", clamp(28px, 5vw, 96px));
          line-height: 1.1;
          letter-spacing: -0.5px;
          color: $color-point;
          opacity: 0.5;
          transition: all 0.3s;

          span {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(30px, -50%);
            @include fontStyle("Red Hat Display", 14px);
            color: $color-point;
          }
        }

        .career_content {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 23vw;
          max-width: 322px;
          height: 28vw;
          max-height: 392px;
          border-radius: 20px;
          overflow: hidden;
          opacity: 0;
          transition: all 0.3s;

          img,
          video {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

// works
#works {
  .works_list {
    ul {
      display: grid;
      grid-gap: 1rem;
      flex-flow: column;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: 1fr;
      li {
        position: relative;
        height: 50vw;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .dim {
          // display: none;
          position: absolute;
          inset: 0;
          // background: #00000086;
          z-index: 10;

          // transition: all 0.2s;
        }

        &:hover {
          .dim {
            // display: block;
            // transition: all 0.2s;
          }
        }
      }
    }
  }
}

// skills
#skills {
  .skills_swiper {
    .swiper-wrapper {
      transition-timing-function: linear !important; // ← 이거 꼭 있어야 해요
    }
  }
}

.footer {
  // height: 1000px;
  overflow: hidden;
  @include fontStyle("Red Hat Display", 16px, 300);
  text-align: center;

  &_top {
    border-top: 1px solid $color-dark;
    padding-top: 50px;
  }

  &_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-transform: uppercase;
    padding: 10px 0;

    &_title {
      font-size: inherit;
      font-weight: 300;
    }

    ul {
      display: flex;
      gap: 20px;
    }
  }

  &_links {
    padding: 10px 0 50px;
    a {
      text-transform: lowercase;
    }
  }

  .logo-instance {
    width: 100%;
    height: 0px; // 초기 높이
    @extend .bbh-hegarty;
    text-transform: uppercase;
    overflow: visible; // ← 텍스트 잘리면 추가
  }

  .footer_logo_stretch {
    width: 100%;
    height: 100%;
    display: block;
    color: $color-dark;

    text {
      @extend .bbh-hegarty;
    }
  }

  &_bottom {
    padding-bottom: 50px;
  }
}
